{% extends "panel/layout-email.html" %}

{% load i18n core_tags %}

{% block content %}
  <tr>
    <td class="content-block">
      {% blocktrans %}You're receiving this email because you have a event reminder from{% endblocktrans %} {{ object.company }}.
    </td>
  </tr>
  <tr>
    <td class="content-block">
      <p><strong>{% trans "Subject" %}:</strong></p>
      <p>{{ object.subject }}</p>
    </td>
  </tr>
  <tr>
    <td class="content-block">
      <p><strong>{% trans "Content" %}:</strong></p>
      <p>{{ object.content|linebreaksbr }}</p>
    </td>
  </tr>
  <tr>
    <td class="content-block">
      <p><strong>{% trans "Creation date" %}:</strong></p>
      <p>{{ object.date_creation|date:'DATETIME_FORMAT' }}</p>
    </td>
  </tr>
  <tr>
    <td class="content-block">
      <p><strong>{% trans "Start date" %}:</strong></p>
      <p>{{ object.date_start|date:'DATETIME_FORMAT' }}</p>
    </td>
  </tr>
  <tr>
    <td class="content-block">
      <p><strong>{% trans "URL" %}:</strong></p>
      <p><a href="{{ request.company }}{{ object.get_absolute_url }}">{{ request.company }}{{ object.get_absolute_url }}</a></p>
    </td>
  </tr>
{% endblock %}
