{% extends "panel/base/list.html" %}

{% load djaneiro humanize i18n %}

{% block content_inner %}
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">{% trans "destination" %}</th>
        <th scope="col">{% trans "creation date" %}</th>
        <th scope="col" class="text-center">{% trans "status" %}</th>
        <th scope="col" class="text-center">{% trans "open" %}</th>
        <th scope="col" class="text-right">{% trans "total visits" %}</th>
        <th scope="col" class="text-right">{% trans "options" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
        <tr>
          <th scope="row"><a href="{{ object.get_absolute_url }}">{{ object }}</a></td>
          <td>{{ object.date_creation|timesince }}</td>
          <td class="text-center"><span class="badge badge-{{ object.is_active|yesno:'success,danger' }}">{{ object.is_active|yesno:'active,inactive' }}</span></td>
          <td class="text-center"><span class="glyphicon glyphicon-{{ object.is_open|yesno:'ok,remove' }} text-{{ object.is_open|yesno:'success,danger' }}"></span></td>
          <td class="text-right">{{ object.total_visits|intcomma }}</td>
          <td class="text-right">{% action_buttons size='xs' %}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="6" class="text-muted text-center">{% trans "No information." %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
