{% load boilerplate i18n %}

{% if is_paginated %}
	<nav class="text-right" aria-label="{% trans "Page navigation" %}">
		<ul class="pagination">
			{% if page_obj.number == 1 %}
				<li class="footable-page-arrow disabled"><a data-page="first" href="">&laquo;</a></li>
			{% else %}
				<li class="footable-page-arrow"><a data-page="first" href="?{% url_replace request 'page' 1 %}">&laquo;</a></li>
			{% endif %}

			{% if page_obj.has_previous %}
				<li class="footable-page-arrow"><a href="?{% url_replace request 'page' page_obj.previous_page_number %}" aria-label="{% trans "Prev" %}"><span aria-hidden="true">&lsaquo;</span></a></li>
			{% else %}
				<li class="footable-page-arrow disabled"><a href="" aria-label="{% trans "Prev" %}"><span aria-hidden="true">&lsaquo;</span></a></li>
			{% endif %}

			{% for page in paginator.page_range %}
				{% if paginator.num_pages > 5 %}
					{% if page >= page_obj.number and page <= paginator.num_pages and page <= page_obj.number|add:5 %}
						<li class="footable-page {% if page_obj.number == page %}active{% endif %}">
							<a href="?{% url_replace request 'page' page %}">
								{{ page }}
							</a>
						</li>
					{% endif %}
				{% else %}
					<li class="footable-page {% if page_obj.number == page %}active{% endif %}">
						<a href="?{% url_replace request 'page' page %}">
							{{ page }}
						</a>
					</li>
				{% endif %}
			{% endfor %}

			{% if page_obj.has_next %}
				<li class="footable-page-arrow"><a href="?{% url_replace request 'page' page_obj.next_page_number %}" aria-label="{% trans "Next" %}"><span aria-hidden="true">&rsaquo;</span></a></li>
			{% else %}
				<li class="footable-page-arrow disabled"><a href="" aria-label="{% trans "Next" %}"><span aria-hidden="true">&rsaquo;</span></a></li>
			{% endif %}

			{% if page_obj.number == paginator.num_pages %}
				<li class="footable-page-arrow disabled"><a data-page="last" href="#">&raquo;</a></li>
			{% else %}
				<li class="footable-page-arrow"><a data-page="last" href="?{% url_replace request 'page' paginator.num_pages %}">&raquo;</a></li>
			{% endif %}
		</ul>
	</nav>
{% endif %}
