{% load core_tags i18n %}


<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div id="remoteDropdownProfile" class="dropdown profile-element">
          {% if request.user.photo_thumb %}
          <span><img src="{{ request.user.photo_thumb.url }}" class="img-circle" alt="{{ request.user }}" height="48px"
              width="48px"></span>
          {% endif %}
          <a data-toggle="dropdown" href="#" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
            <span class="clear">
              <span class="block m-t-xs"><strong class="font-bold">{{ request.user }}</strong></span>
              <span class="text-muted text-xs block">{{ request.company }} <b class="caret"></b></span>
            </span>
          </a>
          <ul class="dropdown-menu animated fadeIn m-t-xs" aria-labelledby="profileBtn">
            {% if request.user.is_staff %}
            <li><a href="{% url 'admin:index' %}">{% trans 'admin' %}</a></li>
            <li id="companies" class="divider"></li>
            {% endif %}
            <li><a href="{% url 'panel:account_detail' %}">{% trans 'profile' %}</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'panel:account_logout' %}">{% trans 'logout' %}</a></li>
          </ul>
        </div>
        <div class="logo-element">{{ request.company.short_name|upper }}</div>
      </li>

      {% with request.resolver_match as resolver_match %}
      <li {% if resolver_match.url_name == 'index' %}class="active" {% endif %}>
        <a href="{% url 'panel:index' %}">
          <i class="fas fa-home"></i>
          <span class="nav-label">{% trans "dashboard" %}</span>
        </a>
      </li>
      </li>
      <li {% if 'message_' in resolver_match.url_name %}class="active" {% endif %}>
        <a href="{% url 'panel:message_list' %}">
          <i class="fas fa-envelope-open-text"></i>
          <span class="nav-label">{% trans "messages" %}</span>
        </a>
      </li>
      <li {% if 'link_' in resolver_match.url_name %}class="active" {% endif %}>
        <a href="{% url 'panel:link_list' %}">
          <i class="fas fa-link"></i>
          <span class="nav-label">{% trans "links" %}</span>
        </a>
      </li>
      <li {% if 'event_' in resolver_match.url_name %}class="active" {% endif %}>
        <a href="{% url 'panel:event_list' %}">
          <i class="far fa-calendar-alt"></i>
          <span class="nav-label">{% trans "events" %}</span>
        </a>
      </li>
      <li {% if 'company_' in resolver_match.url_name %}class="active" {% endif %}>
        <a href="{% url 'panel:company_detail' %}">
          <i class="far fa-building"></i>
          <span class="nav-label">{% trans "company" %}</span>
        </a>
      </li>
      {% endwith %}
    </ul>
  </div>
</nav>
