{% extends 'panel/company/list.html' %}

{% load djaneiro i18n %}


{% block content_inner %}
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">{% trans "name" %}</th>
        <th scope="col">{% trans "email" %}</th>
        <th scope="col">{% trans "roles" %}</th>
        <th scope="col" class="text-right">{% trans "options" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
        <tr>
          <th scope="row">{{ object.name }}</th>
          <td>{{ object.email }}</td>
          <td>{% for role in object.roles.all %}<span class="badge badge-default">{{ role }}</span>{% endfor %}</td>
          <td class="text-right">{% action_buttons size='xs' %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content_inner %}
