{% extends 'panel/layout-blank.html' %}

{% load core_tags i18n %}

{% block title %}{% trans '404 Not Found' %}{% endblock %}

{% block content %}
<div class="middle-box text-center animated fadeInDown">
  <h1>404</h1>
  <h3 class="font-bold">{% trans "Not Found" %}</h3>

  <div class="error-desc">
    <p>{% blocktrans %}We couldn't find what you are looking to. Don't worry this will be notified to our
      staff.{% endblocktrans %}</p>

    <a role="button" class="btn btn-primary" href="{% url 'panel:index' %}">{% trans "Go home" %}</a>
  </div>
</div>
{% endblock %}
