{% extends "common/template_list.html" %}

{% load boilerplate djaneiro i18n %}

{% block content %}
  <div class="tabs-container">
    <div class="tabs-left">
      {% include "core/common/tabs.html" %}

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active">
          <div class="panel-body">
            <div class="table-responsive">
            </div>
            {% block content_inner %}{% endblock %}
          </div>
          {% include "common/pagination.html" %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
