{% extends "layout.html" %}

{% load core_tags i18n %}

{% block title %}{% trans "Password change" %}{% endblock title %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% site_url %}">{% trans "Home" %}</a></li>
        <li><a href="{% url "account:profile_detail" %}">{% trans "Profile" %}</a></li>
        <li class="active"><strong>{% trans "Password change" %}</strong></li>
    </ol>
{% endblock breadcrumb %}

{% block page_header %}
    <h2>{% trans "Profile" %}</h2>
{% endblock page_header %}

{% block content %}
    {% trans "Password change" as form_title %}
    {% trans "Password change" as form_submit %}
    {% include "common/form.html" %}
{% endblock content %}
