{% extends "mail/layout.html" %}

{% load core_tags i18n %}

{% block content %}
    <tr>
        <td class="content-block">
            {% blocktrans %}You're receiving this email because you requested a password reset for your user account at{% endblocktrans %} {% site_name %}.
        </td>
    </tr>
    <tr>
        <td class="content-block">
            {% trans "Please go to the following page and choose a new password:" %}
            {% block reset_link %}
            {{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}
            {% endblock %}
        </td>
    </tr>
    <tr>
        <td class="content-block">
            {% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}
        </td>
    </tr>
    <tr>
        <td class="content-block">
            {% trans "Thanks for using our site!" %}
        </td>
    </tr>
    <tr>
        <td class="content-block">
            {% site_name %} {% trans "Team" %}
        </td>
    </tr>
{% endblock content %}