{% extends 'layout.html' %}

{% load core_tags i18n %}

{% block title %}{% trans 'Change password' %}{% endblock %}

{% block page_header %}
    <h2>{% trans "Profile" %}</h2>
{% endblock page_header %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% settings "SITE_URL" %}">{% trans "Home" %}</a></li>
        <li><a href="{% url "account:profile_detail" %}">{% trans "Profile" %}</a></li>
        <li class="active"><strong>{% trans "Password change" %}</strong></li>
    </ol>
{% endblock breadcrumb %}

{% block content  %}
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>{% trans 'Change password' %}</h5>
            {% include "common/ibox/tools.html" %}
        </div>
        <div class="ibox-content">
            <p>{% trans 'Your password was changed.' %}</p>
            <a class="btn btn-primary" href="{% url 'account:profile_detail' %}">
                {% trans "Profile" %}
            </a>
        </div>
    </div>
{% endblock %}
