{% extends "layout-blank.html" %}

{% load core_tags i18n %}

{% block title %}{% trans 'Password reset confirmation' %}{% endblock title %}

{% block content %}
    <div class="passwordBox animated fadeInDown">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox-content">
                    <h2 class="font-bold">{% trans "Password reset confirmation" %}</h2>

                    <div class="row">
                        <div class="col-lg-12">
                            <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>

                            <p><a class="btn btn-block btn-primary" href="{% url 'account:login' %}">{% trans 'Log in' %}</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row text-center">
            <p class="m-t">
                <small>
                    {% trans "Code + Design + Hosting with" %}
                    <span class="text-danger glyphicon glyphicon-heart" aria-hidden="true"></span>
                    {% trans "by" %}
                    <a href="http://cubo.pe">Cubo</a>
                </small>
            </p>
        </div>
    </div>
{% endblock content %}
