{% extends "common/template_list.html" %}

{% load humanize i18n %}

{% block content_inner %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>{% trans "Destination" %}</th>
                <th>{% trans "Creation date" %}</th>
                <th class="text-center">{% trans "Open" %}</th>
                <th class="text-right">{% trans "Total visits" %}</th>
                <th class="text-right">{% trans "Options" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    <td><a href="{{ object.get_absolute_url }}">{{ object }}</a></td>
                    <td>{{ object.date_creation|timesince }}</td>
                    <td class="text-center"><span class="glyphicon glyphicon-{{ object.is_open|yesno:'ok,remove' }} text-{{ object.is_open|yesno:'success,danger' }}"></span></td>
                    <td class="text-right">{{ object.total_visits|intcomma }}</td>
                    <td class="text-right">
                        {% include "common/options-buttons.html" with action_list=None %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
