{% extends "common/template_detail.html" %}

{% load humanize i18n %}

{% block content %}
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>{% trans "Information" %}</h5>
      {% include "common/ibox/tools.html" %}
    </div>
    <div class="ibox-content table-responsive">
      <table class="table table-striped">
        <tr>
          <th class="col-md-3 text-right">{% trans "User" %}</th>
          <td>{{ object.user|default_if_none:'' }}</td>
        </tr>
        <tr>
          <th class="col-md-3 text-right">{% trans "Creation date" %}</th>
          <td>{{ object.date_creation|date:'DATETIME_FORMAT' }}</td>
        </tr>
        {% if object.message %}
          <tr>
            <th class="col-md-3 text-right">{% trans "Message" %}</th>
            <td><a href="{{ object.message.get_absolute_url }}">{{ object.message }}</a></td>
          </tr>
        {% endif %}
        <tr>
          <th class="col-md-3 text-right">{% trans "Destination" %}</th>
          <td>{{ object.destination }}</td>
        </tr>
        <tr>
          <th class="col-md-3 text-right">{% trans "Public URL" %}</th>
          <td>{{ object.get_public_url }}</td>
        </tr>
        <tr>
          <th class="col-md-3 text-right">{% trans "Open" %}</th>
          <td><span class="glyphicon glyphicon-{{ object.is_open|yesno:'ok,remove' }} text-{{ object.is_open|yesno:'success,danger' }}"></span></td>
        </tr>
        <tr>
          <th class="col-md-3 text-right">{% trans "Total visits" %}</th>
          <td>{{ object.total_visits|intcomma }}</td>
        </tr>
      </table>
    </div>
  </div>

  {% include "common/snippets/visit_list.html" %}
{% endblock %}
