{% extends "common/template_list.html" %}

{% load i18n %}


{% block content_inner %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>{% trans "From" %}</th>
                <th>{% trans "To" %}</th>
                <th>{% trans "Direction" %}</th>
                <th>{% trans "Creation date" %}</th>
                <th>{% trans "Modification date" %}</th>
                <th>{% trans "Status" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    <td><a href="{{ object.get_absolute_url }}">{{ object.from_ }}</a></td>
                    <td>{{ object.to }}</td>
                    <td>{{ object.get_direction_display }}</td>
                    <td>{{ object.date_creation|timesince }}</td>
                    <td>{{ object.date_modification|timesince }}</td>
                    <td><span class="label label-default">{{ object.status }}</span></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
