{% extends "common/template_detail.html" %}

{% load i18n %}


{% block content %}
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>{% trans "Details" %}</h5>
        </div>
        <div class="ibox-content table-responsive">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th class="col-md-3 text-right">{% trans "User" %}</th>
                        <td>{{ object.user|default_if_none:'' }}</td>
                    </tr>
                    <tr>
                        <th class="col-md-3 text-right">{% trans "Creation date" %}</th>
                        <td><span data-toggle="tooltip" title="{{ object.date_creation|date:'DATETIME_FORMAT' }}">{{ object.date_creation|timesince }}</span></td>
                    </tr>
                    <tr>
                        <th class="col-md-3 text-right">{% trans "Modification date" %}</th>
                        <td><span data-toggle="tooltip" title="{{ object.date_modification|date:'DATETIME_FORMAT' }}">{{ object.date_creation|timesince }}</span></td>
                    </tr>
                    <tr>
                        <th class="col-md-3 text-right">{{ object.contenttype }}</th>
                        <td><a href="{{ object.model.get_absolute_url }}">{{ object.model }}</a></td>
                    </tr>
                    <tr>
                        <th class="col-md-3 text-right">{% trans "Status" %}</th>
                        <td><span class="label label-default">{{ object.status }}</span></td>
                    </tr>
                    <tr>
                        <th class="col-md-3 text-right">{% trans "Direction" %}</th>
                        <td>{{ object.get_direction_display }}</td>
                    </tr>
                    <tr>
                        <th class="col-md-3 text-right">{% trans "From" %}</th>
                        <td>{{ object.from_ }}</td>
                    </tr>
                    <tr>
                        <th class="col-md-3 text-right">{% trans "To" %}</th>
                        <td>{{ object.to }}</td>
                    </tr>
                    <tr>
                        <th class="col-md-3 text-right">{% trans "CC" %}</th>
                        <td>{{ object.to_email_cc }}</td>
                    </tr>
                    <tr>
                        <th class="col-md-3 text-right">{% trans "BCC" %}</th>
                        <td>{{ object.to_email_bcc }}</td>
                    </tr>
                    <tr>
                        <th class="col-md-3 text-right">{% trans "Reply to" %}</th>
                        <td>{{ object.reply_to_email }}</td>
                    </tr>
                    <tr>
                        <th class="col-md-3 text-right">{% trans "Subject" %}</th>
                        <td>{{ object.subject }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>{% trans "Content" %}</h5>
            {% include "common/ibox/tools.html" %}
        </div>
        <div class="ibox-content">
            {% if object.is_html %}
                <iframe src="{% url 'common:message_frame' object.pk %}" width="100%" height="500px" frameborder="0"></iframe>
            {% else %}
                <pre>{{ object.content_raw }}</pre>
            {% endif %}
        </div>
    </div>

    {% include "common/snippets/link_list.html" %}
{% endblock %}
