{% extends "layout-blank.html" %}

{% load bootstrap3 core_tags i18n %}

{% block title %}{% trans "Add Company" %}{% endblock title %}

{% block content %}
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <h1 class="logo-name">{% settings "SITE_SHORT_NAME" %}</h1>
            {% bootstrap_messages %}
        </div>
        <div>
            <h3>{% trans "Add Company" %}</h3>
            <form class="m-t" method="post" role="form" action="">
                {% trans "Add" as submit_text %}
                {% include "common/form-simple.html" %}
                <a class="btn btn-sm btn-white btn-block" href="{% url 'core:company_choose' %}">
                    <i class="fa fa-angle-left"></i>
                    {% trans "Back to companies" %}
                </a>
            </form>
        </div>
    </div>
{% endblock content %}

{% block scripts_footer %}
    {{ form.media }}
{% endblock %}
