{% extends "layout.html" %}

{% load boilerplate core_tags i18n %}

{% block title %}
    {% if form and object %}
        {% trans "Change" %} {{ object }}
    {% elif form %}
        {% trans "Add" %} {{ form|form_model_name }}
    {% else %}
        {% trans "Delete" %} {{ object }}
    {% endif %}
{% endblock title %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% site_url %}">{% trans "Home" %}</a></li>
        <li><a href="{% url 'core:company_detail' %}">{{ company }}</a></li>
        <li><a href="{% url 'core:user_list' %}">{% trans 'Users' %}</a></li>
        {% if object %}
            <li>{{ object }}</li>
        {% endif %}
        <li class="active">
            <strong>
                {% if form and object %}
                    {% trans "Change" %} {{ object }}
                {% elif form %}
                    {% trans "Add" %} {{ form|form_model_name }}
                {% else %}
                    {% trans "Delete" %}
                {% endif %}
            </strong>
        </li>
    </ol>
{% endblock breadcrumb %}

{% block page_header %}
    <h2>
        {% if object %}
            {{ object|form_model_name_plural }}
        {% else %}
            {{ form|form_model_name_plural }}
        {% endif %}
    </h2>
{% endblock page_header %}

{% block content %}
    <div class="tabs-container">
        {% include "core/common/tabs.html" %}
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active">
                <div class="panel-body">
                    {% include "common/form.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts_footer %}
    {{ form.media }}

    {% for extra_form in extra_form_list %}
        {{ extra_form.media }}
    {% endfor %}

    {% for formset in formset_list %}
        {{ formset.media }}
    {% endfor %}
{% endblock %}
