/* Custom CSS */
@media print {
    a[href]:after {
        content: "";
    }
}

.empty-form {
    display: none;
}

.related-widget-wrapper{
    padding-right: 16px;
    position: relative;
}

.select2-container {
    width: 100% !important;
    min-width: 10em !important;
}

.select2-container--default .select2-selection--single {
    border-radius: 0px !important;
    height: 34px !important;
}

.select2-container--default .select2-selection--single {
    border-color: #e5e6e7 !important;
}

.has-success .select2-container--default .select2-selection--single {
    border-color: #1ab394 !important;
}

.has-error .select2-container--default .select2-selection--single {
    border-color: #ed5565 !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #676a6c !important;
    font-size: 14px !important;
    line-height: 32px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 32px !important;
}

.select2-container--default .select2-selection--multiple {
    border-radius: 0px !important;
}

.select2-container--default .select2-selection--multiple {
    border-color: #e5e6e7 !important;
}

.select2-container .select2-selection--multiple {
    min-height: 34px !important;
}

.has-success .select2-container--default .select2-selection--multiple {
    border-color: #1ab394 !important;
}

.has-error .select2-container--default .select2-selection--multiple {
    border-color: #ed5565 !important;
}

.select2-container .select2-search--inline .select2-search__field {
    font-size: 110% !important;
    margin-top: 6px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin-top: 6px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
    margin-top: 7px !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border-color: #e5e6e7 !important;
}

.has-success .select2-dropdown {
    border-color: #1ab394 !important;
}

.has-error .select2-dropdown {
    border-color: #ed5565 !important;
}

.select2-dropdown {
    border-color: #e5e6e7 !important;
    border-radius: 0px !important;
}

.has-success .select2-dropdown {
    border-color: #1ab394 !important;
}

.has-error .select2-dropdown {
    border-color: #ed5565 !important;
}

.related-widget-wrapper-link{
    position: absolute;
    top: 7px;
    right: 0px;
}
