{% extends "core/common/detail.html" %}

{% load i18n %}

{% block page_actions %}
  <a class="btn btn-size-default btn-success" href="{% url 'public:company_change' %}">
    <span class="glyphicon glyphicon-pencil"></span>
    {% trans "Change" %}
  </a>
{% endblock page_actions %}

{% block content_inner %}
  <div class="table-responsive">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th class="col-md-3 text-right">{% trans "User" %}</th>
          <td>{{ object.user }}</td>
        </tr>
        <tr>
          <th class="col-md-3 text-right">{% trans "Name" %}</th>
          <td>{{ object }}</td>
        </tr>
        <tr>
          <th class="col-md-3 text-right">{% trans "Email" %}</th>
          <td>{{ object.email }}</td>
        </tr>
        <tr>
          <th class="col-md-3 text-right">{% trans "Creation date" %}</th>
          <td>{{ object.date_creation }}</td>
        </tr>
        <tr>
          <th class="col-md-3 text-right">{% trans "Next invoice date" %}</th>
          <td>{{ object.date_next_invoice|date:'DATE_FORMAT' }}</td>
        </tr>
        <tr>
          <th class="col-md-3 text-right">{% trans "Language" %}</th>
          <td>{{ object.get_language_display }}</td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}
