{% extends "layout-blank.html" %}

{% load core_tags i18n %}

{% block title %}{{ object }}{% endblock %}

{% block content %}
  <div class="middle-box loginscreen animated fadeInDown">
    <div>
      {% if object.company.logo %}
        <div class="text-center">
          <img class="img-responsive" src="{{ object.company.logo.url }}" alt="{{ object.company }}">
        </div>
      {% endif %}

      <h3 class="text-center">{{ object.company }}</h3>

      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <p><strong>{% trans "Type:" %}</strong> {{ object.get_type_display }}</p>
          <p><strong>{% trans "Created:" %}</strong> <abbr title="{{ object.date_creation|date:'DATETIME_FORMAT' }}">{{ object.date_creation|timesince }} {% trans "ago" %}</abbr></p>

          {% if object.user %}
            <p><strong>{% trans "By:" %}</strong> {{ object.user }}</p>
          {% endif %}

          {% if object.date_start %}
            <p><strong>{% trans "From:" %}</strong> {{ object.date_start|date:'DATETIME_FORMAT' }}</p>
          {% endif %}
          {% if object.date_finish %}
            <p><strong>{% trans "Until:" %}</strong> {{ object.date_finish|date:'DATETIME_FORMAT' }}</p>
          {% endif %}

          <p><strong>{% trans "Subject:" %}</strong> {{ object.subject }}</p>
          <p><strong>{% trans "Content:" %}</strong> {{ object.content|linebreaksbr }}</p>

          <div class="text-center">
            <a class="btn btn-xs btn-social btn-success" target="_blank" href="{{ object.google_calendar_url }}">
              <i class="fa fa-google"></i>
              {% trans "Add to Google Calendar" %}
            </a>

            {% if request.user.is_authenticated %}
              <a class="btn btn-xs btn-default" href="javascript:history.back()">{% trans "Back" %}</a>
            {% endif %}
          </div>
        </div>
      </div>

      <p class="text-center m-t"><small>{% trans "Copyright &copy; 2018. All rights reserved for" %} {{ settings.SITE_NAME }}.</small></p>
    </div>
  </div>
{% endblock %}
