{% load i18n bootstrap3 %}

{% if form %}
    <div class="ibox">
        <div class="ibox-title">
			<h5>{% trans "Filter" %}</h5>
			{% include "common/ibox/tools.html" %}
	    </div>
        <div class="ibox-content">
            <form class="form-inline" method="get" role="search">
                {% bootstrap_form form layout='inline' bound_css_class='' %}
                <button type="submit" class="btn btn-default">{% trans 'Filter' %}</button>
                <a class="btn btn-link" href="{{ request.path }}" role="button">{% trans 'Reset' %}</a>
            </form>
        </div>
    </div>
{% endif %}
