{% load bootstrap3 i18n %}

{% trans 'Clear' as clean_text %}
{% trans 'Save' as save_text %}
{% trans 'Save' as update_text %}
{% trans 'Save and add another' as save_and_add_another_text %}
{% trans 'Save and continue editing' as save_and_continue_text %}

<div class="hr-line-dashed"></div>
<div class="form-group">
  <div class="col-md-9 col-md-offset-3">
    {% if submit_text %}
      {% bootstrap_button submit_text button_type="submit" button_class="btn-success" name="_save" value=submit_text %}
    {% else %}
      {% if object %}
        {% bootstrap_button update_text button_type="submit" icon="floppy-disk" button_class="btn-success" name="_save" value=update_text %}
      {% else %}
        {% bootstrap_button save_text button_type="submit" icon="floppy-disk" button_class="btn-success" name="_save" value=save_text %}
      {% endif %}

      {% if save_and_add_another %}
        {% bootstrap_button save_and_add_another_text button_type="submit" icon="plus" button_class="btn-info" name="_addanother" value=save_and_add_another_text %}
        {% bootstrap_button save_and_continue_text button_type="submit" icon="plus" button_class="btn-info" name="_continue" value=save_and_continue_text %}
      {% endif %}
    {% endif %}

    {% if form_hide_clean != True %}
      {% bootstrap_button clean_text button_type="reset" icon="erase" %}
    {% endif %}
  </div>
</div>
