{% load core_tags i18n %}

{% if not view.is_popup %}
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear">
                                <span class="block m-t-xs"><strong class="font-bold">{{ request.user }}</strong></span>
                                <span class="text-muted text-xs block">{{ request.user.profile.company }} <b class="caret"></b></span>
                            </span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            {% if request.user.is_staff %}
                            <li><a href="{% url 'admin:index' %}">{% trans 'Admin' %}</a></li>
                            <li class="divider"></li>
                            {% endif %}
                            {% for company in request.user.profile.companies_available %}
                                <li><a href="{% url 'core:company_switch' company.pk %}?next={{ request.path }}">{{ company }}</a></li>
                                {% if forloop.last %}
                                    <li class="divider"></li>
                                {% endif %}
                            {% endfor %}
                            <li><a href="{% url 'account:profile_detail' %}">{% trans 'Profile' %}</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'account:logout' %}">{% trans 'Logout' %}</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        {% site_short_name %}
                    </div>
                </li>

                {% with request.resolver_match as resolver_match %}
                    <li {% if resolver_match.url_name == 'dashboard' %}class="active"{% endif %}>
                        <a href="{% url 'core:dashboard' %}">
                            <i class="fa fa-home"></i>
                            <span class="nav-label">{% trans "Dashboard" %}</span>
                        </a>
                    </li>
                    <li {% if 'core' in resolver_match.namespace and resolver_match.url_name != 'dashboard' %}class="active"{% endif %}>
                        <a href="{% url 'core:company_detail' %}">
                            <i class="fa fa-briefcase"></i>
                            <span class="nav-label">{% trans "Company" %}</span>
                        </a>
                    </li>
                {% endwith %}
            </ul>
        </div>
    </nav>
{% endif %}
