{% load boilerplate i18n %}

<nav class="pager" ng-if="data.next || data.previous">
	<li ng-if="data.previous" class="previous"><a ng-click="previousPage()"><span aria-hidden="true">&larr;</span> {% trans 'Prev' %}</a></li>
	<li ng-if="!data.previous" class="previous disabled"><a href=""><span aria-hidden="true">&larr;</span> {% trans 'Prev' %}</a></li>
	<span class="page-current">
		{% trans 'Page' %} {% verbatim %}{{ currPage }}{% endverbatim %} {% trans 'of' %} {% verbatim %}{{ numPages }}{% endverbatim %}
  </span>
	<li ng-if="data.next" class="next"><a ng-click="nextPage()">{% trans 'Next' %} <span aria-hidden="true">&rarr;</span></a></li>
	<li ng-if="!data.next" class="next disabled"><a href="">{% trans 'Next' %} <span aria-hidden="true">&rarr;</span></a></li>
</nav>
