{% extends "layout.html" %}

{% load boilerplate core_tags djaneiro i18n %}

{% block title %}{% if form and object %}{% trans "Change" %} {{ object }}{% elif form %}{% trans "Add" %} {{ form|form_model_name }}{% else %}{% trans "Delete" %} {{ object }}{% endif %}{% endblock title %}

{% block breadcrumb %}
  {% if action %}
    {% breadcrumb action=action %}
  {% elif object and form %}
    {% breadcrumb action='change' %}
  {% elif form %}
    {% breadcrumb action='add' %}
  {% elif object %}
    {% breadcrumb action='delete' %}
  {% endif %}
{% endblock breadcrumb %}

{% block page_header %}
  <h2>{% if form and object %}{% trans "Change" %} {{ object }}{% elif form %}{% trans "Add" %} {{ form|form_model_name }}{% else %}{% trans "Delete" %} {{ object }}{% endif %}</h2>
{% endblock page_header %}

{% block content %}
  {% block before_form %}{% endblock %}

  {% include "common/form.html" %}

  {% block after_form %}{% endblock %}
{% endblock content %}

{% block scripts_footer %}
  {{ form.media }}

  {% for extra_form in extra_form_list %}
    {{ extra_form.media }}
  {% endfor %}

  {% for formset in formset_list %}
    {{ formset.media }}
  {% endfor %}
{% endblock %}
