{% extends "layout.html" %}

{% load boilerplate core_tags humanize i18n %}


{% block title %}
  {{ object_list|queryset_model_name_plural }}
{% endblock %}

{% block breadcrumb %}
  {% include "common/breadcrumbs/list.html" %}
{% endblock %}

{% block page_header %}
  <h2>{{ object_list|queryset_model_name_plural }}</h2>
{% endblock %}

{% block page_actions %}
  {% include "common/options-buttons.html" with size='size-default' %}
{% endblock %}

{% block content %}
  {% include "common/form-filter.html" %}

  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>{{ object_list|queryset_model_name_plural }}</h5>
      {% include "common/ibox/tools.html" %}
    </div>
    <div class="ibox-content table-responsive">
      {% block content_inner %}
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>{% trans "Name" %}</th>
              <th class="text-right">{% trans "Options" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for object in object_list %}
              <tr>
                <td><a href="{{ object.get_absolute_url }}">{{ object }}</a></td>
                <td class="text-right">
                  {% include "common/options-buttons.html" with actions_grouped=True action_list=None %}
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="2" class="text-center text-muted">
                  {% trans "No information." %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endblock %}
    </div>
  </div>

  {% include "common/pagination.html" %}

  {% block after_pagination %}{% endblock %}
{% endblock %}

{% block scripts_footer %}
  {% if form %}
    {{ form.media }}
  {% endif %}
{% endblock %}
