{% extends 'layout.html' %}

{% load core_tags i18n %}

{% block title %}{% trans 'Error 400: Not Allowed' %}{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>{% trans 'Error 400: Not Allowed' %}</h1>
        <p>{% blocktrans %}We are sorry, this access method it's not allowed on this page.{% endblocktrans %}</p>
        <p>
            <a class="btn btn-primary btn-lg" href="{% site_url %}">{% trans 'Go Home' %}</a>
        </p>
    </div>
</div>
{% endblock %}