{% extends 'layout-blank.html' %}

{% load core_tags i18n %}

{% block title %}{% trans '403 Forbidden' %}{% endblock %}

{% block content %}
	<div class="middle-box text-center animated fadeInDown">
		<h1>403</h1>
		<h3 class="font-bold">{% trans "Forbidden" %}</h3>

		<div class="error-desc">
			<p>{% blocktrans %}We are sorry. You don't have enought permissions to access this page.{% endblocktrans %}</p>

			<a role="button" class="btn btn-primary"  href="{% settings "SITE_URL" %}">{% trans "Go home" %}</a>
		</div>
	</div>
{% endblock %}
