{% load core_tags bootstrap3 i18n staticfiles tz %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_timezone as TIME_ZONE %}
<!DOCTYPE html>

<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        {% block meta_header %}{% endblock meta_header %}

        <title>{% block title %}{% endblock title %} | {% settings "SITE_NAME" %}</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" >
        <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.css" %}" >
        <link rel="stylesheet" href="{% static "css/plugins/datetimepicker/bootstrap-datetimepicker.min.css" %}">
        <link rel="stylesheet" href="{% static "autocomplete_light/vendor/select2/dist/css/select2.css" %}" />
        <link rel="stylesheet" href="{% static "autocomplete_light/select2.css" %}" />
        <link rel="stylesheet" href="{% static "css/animate.css" %}" >
        <link rel="stylesheet" href="{% static "css/style.css" %}" >
        <link rel="stylesheet" href="{% static "css/custom.css" %}">

        {% block css_header %}{% endblock css_header %}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% block scripts_header %}{% endblock scripts_header %}
    </head>
    <body {% if not request.user.profile.nav_expanded %}class="mini-navbar"{% endif %}>
        {% if fb_app_id %}
            <script>
                window.fbAsyncInit = function() {
                    FB.init({
                      appId      : '{% settings "FB_APP_ID" %}',
                      cookie     : true,
                      xfbml      : true,
                      version    : 'v2.11'
                    });
                    FB.AppEvents.logPageView();
                };

                (function(d, s, id){
                     var js, fjs = d.getElementsByTagName(s)[0];
                     if (d.getElementById(id)) {return;}
                     js = d.createElement(s); js.id = id;
                     js.src = "https://connect.facebook.net/{{ LANGUAGE_CODE|lower }}_{{ LANGUAGE_CODE|upper }}/sdk.js";
                     fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            </script>
        {% endif %}

        <div id="wrapper">
            {% include "common/menu.html" %}

            <div {% if not view.is_popup %}id="page-wrapper"{% endif %} class="gray-bg">
                {% if not view.is_popup %}
                    {% include "common/top-navigation.html" %}
                {% endif %}

                <div class="row wrapper border-bottom white-bg page-heading">
                    <div class="col-sm-8">
                        {% block page_header %}{% endblock page_header %}
                        {% if not view.is_popup %}
                            {% block breadcrumb %}{% endblock breadcrumb %}
                        {% endif %}
                    </div>
                    <div class="col-sm-4">
                        <div class="title-action">
                            {% block page_actions %}{% endblock page_actions %}
                        </div>
                    </div>
                </div>

                <div class="wrapper wrapper-content animated fadeInRight">
                    {% bootstrap_messages %}

                    {% block content %}{% endblock content %}
                </div>

                {% include "common/footer.html" %}
            </div>
        </div>

        {% block css_footer %}{% endblock css_footer %}

        <script>
            var api_url_profile = '{% url "api:user-profile" %}';
            var site_language = '{{ LANGUAGE_CODE }}';
            var site_timezone = '{{ TIME_ZONE }}';
        </script>
        <script src="{% url 'javascript-catalog' %}"></script>
        <script src="{% static 'js/vendor/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'js/vendor/moment.js' %}"></script>
        <script src="{% static 'js/vendor/angular/angular.min.js' %}"></script>
        <script src="{% static 'js/vendor/angular-moment/angular-moment.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
        <script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
        <script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>
        <script src="{% static 'js/plugins/clipboard/clipboard.min.js' %}"></script>
        <script src="{% static 'js/plugins/datetimepicker/bootstrap-datetimepicker.js' %}"></script>
        <script src="{% static 'js/plugins/inlines.js' %}"></script>
        <script src="{% static 'js/plugins/livelist.js' %}"></script>
        <script src="{% static 'js/plugins/remote-table.js' %}"></script>
        <script src="{% static 'autocomplete_light/jquery.init.js' %}"></script>
        <script src="{% static 'autocomplete_light/autocomplete.init.js' %}"></script>
        <script src="{% static 'autocomplete_light/vendor/select2/dist/js/select2.full.js' %}"></script>
        <script src="{% static 'autocomplete_light/select2.js' %}"></script>
        <script src="{% static 'js/inspinia.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>

        {% with 'js/vendor/angular/i18n/angular-locale_'|add:LANGUAGE_CODE|add:'-'|add:LANGUAGE_CODE|add:'.js' as js_path %}
            <script src="{% static js_path %}"></script>
        {% endwith %}

        {% block scripts_footer %}{% endblock scripts_footer %}
    </body>
</html>
