{% load boilerplate core_tags i18n %}

<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>{% trans "Links" %}</h5>
  </div>
  <div class="ibox-content table-responsive" ng-controller="TableController"
    ng-init="setUrl('{% api_list_view 'link' object %}?limit=10')">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>{% trans "Destination" %}</th>
          <th>{% trans "Creation date" %}</th>
          <th class="text-center">{% trans "Open" %}</th>
          <th class="text-right">{% trans "Total visits" %}</th>
        </tr>
      </thead>
      <tbody>
        {% verbatim %}
        <tr ng-repeat="link in data.results">
          <td><a href="{{ link.action_list.view.url }}">{{ link.destination }}</a></td>
          <td>{{ link.date_creation | amTimeAgo }}</td>
          <td class="text-center">
            <span ng-if="!link.is_open" class="glyphicon glyphicon-remove text-danger"></span>
            <span ng-if="link.is_open" class="glyphicon glyphicon-ok text-success"></span>
          </td>
          <td class="text-right">{{ link.total_visits }}</td>
        </tr>
        {% endverbatim %}
        <tr ng-if="data.results.length < 1">
          <td colspan="4" class="text-center text-muted">
            {% trans "No information." %}
          </td>
        </tr>
      </tbody>
    </table>

    {% include "panel/snippets/_pagination-angular.html" %}
  </div>
</div>
