{% load boilerplate core_tags i18n %}

<ol class="breadcrumb">
    <li><a href="{% settings "SITE_URL" %}">{% trans "Home" %}</a></li>
    {% if parent_object %}
        <li><a href="{% url parent_object|model_url %}">{{ parent_object|model_name_plural }}</a></li>
        <li><a href="{{ parent_object.get_absolute_url }}">{{ parent_object }}</a></li>
        <li>{{ object|model_name_plural }}</li>
    {% else %}
        <li><a href="{% url object|model_url %}">{{ object|model_name_plural }}</a></li>
    {% endif %}
    <li class="active"><strong>{{ object }}</strong></li>
</ol>
