{% load boilerplate core_tags i18n %}

<ol class="breadcrumb">
  <li><a href="{% settings "SITE_URL" %}">{% trans "Home" %}</a></li>
  {% if parent_object %}
    <li><a href="{% url parent_object|model_url %}">{{ parent_object|model_name_plural }}</a></li>
    <li><a href="{{ parent_object.get_absolute_url }}">{{ parent_object }}</a></li>
    {% if object %}
      <li>{{ object|model_name_plural }}</li>
    {% elif form %}
      <li>{{ form|form_model_name_plural }}</li>
    {% endif %}
  {% else %}
    {% if object %}
      <li><a href="{% url object|model_url %}">{{ object|model_name_plural }}</a></li>
    {% elif form %}
      <li><a href="{% url form|form_model_url %}">{{ form|form_model_name_plural }}</a></li>
    {% endif %}
  {% endif %}
  {% if object %}
  <li>
    <a href="{{ object.get_absolute_url }}">{{ object }}</a>
  </li>
  {% endif %}
  <li class="active">
    <strong>
      {% if form and object %}
        {% trans "Change" %}
      {% elif form %}
        {% trans "Add" %} {{ form|form_model_name }}
      {% else %}
        {% trans "Delete" %}
      {% endif %}
    </strong>
  </li>
</ol>
